%%
%% Packaging
%%
{package_name, "pine"}.
{package_install_name, "pine"}.
{package_install_user, "pine"}.
{package_install_group, "pine"}.
{package_install_user_desc, "Pine user"}.
{package_shortdesc, "PIN generation Engine"}.
{package_desc, "PIN genration Engine for vouchers and coupons"}.
{package_commands, {list, [[{name, "pine"}]]}}.
{package_patch_dir, "pine-patches"}.
{bin_or_sbin, "bin"}.
{license_type, "Commerical"}.
{copyright, "2016 Chaitanya Chalasani"}.
{vendor_name, "Chaitanya Chalasani"}.
{vendor_url, "http://anithya.com"}.
{vendor_contact_name, "Chaitanya Chalasani"}.
{vendor_contact_email, "cchalasani@me.com"}.
{license_full_text,
 "This file is provided to you under the Commercial Eula,\n"
   "Unauthorised use of binaries or reverse engineering of\n"
   "binariesis restricted under the License."}.
{solaris_pkgname, "PINE"}.
