{erl_opts, [debug_info]}.
{deps, [
        {cowboy, {git, "git://github.com/extend/cowboy.git", {tag, "1.0.4"}}},
        {jiffy,  {git, "git://github.com/davisp/jiffy.git", {tag, "0.14.7"}}},
        {uuid, {git,
                "git://github.com/travis/erlang-uuid.git", {branch, "master"}}},
				{node_package, {git,"git://github.com/dergraf/node_package.git",
												{branch, "rebar3-support"}}}
       ]}.

{relx, [{release, {pine, "0.6"},
         [sasl,
          mnesia,
          crypto,
          cowboy,
          jiffy,
          uuid,
          pine]},

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        {overlay, [
                   {mkdir, "log/sasl"},
                   {mkdir, "log/apps"},
                   {mkdir, "db"}
                  ]},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}]
}.

{profiles, [{prod, [{relx, [{dev_mode, false},
                            {include_erts, true}]}]
            },
            {test, [{deps, [
                            {ibrowse, {git,
                                       "https://github.com/cmullaparthi/ibrowse.git",
                                       {tag, "v4.2.2"}}}
                           ]}]}]
}.

{plugins, [rebar3_auto, rebar3_run, pc]}.

{overrides,
 [{override, jiffy, [
     {plugins, [
         {pc, {git, "git@github.com:blt/port_compiler.git", {branch, "master"}}}
     ]},
     {artifacts, ["priv/jiffy.so"]},
     {provider_hooks, [
         {post,
             [
             {compile, {pc, compile}},
             {clean, {pc, clean}}
             ]
          }]
      }
  ]}
]}.
