{deps, [
  {ranch, ".*", {git, "git://github.com/extend/ranch.git", "1.0.0"}},
  {cowlib, ".*", {git, "git://github.com/extend/cowlib.git", "1.0.0"}},
  {cowboy, ".*", {git, "git://github.com/extend/cowboy.git", "1.0.0"}},
  {jiffy, ".*", {git, "git://github.com/davisp/jiffy.git"}},
  {uuid, ".*", {git, "git://github.com/travis/erlang-uuid.git"}}
 ]}.
{sub_dirs, [
  "apps/pine",
  "rel"
]}.
