[
 %% SASL config
 {sasl, [
         {sasl_error_logger, {file, "log/sasl-error.log"}},
         {errlog_type, error},
         {error_logger_mf_dir, "log/sasl"},      % Log directory
         {error_logger_mf_maxbytes, 10485760},   % 10 MB max file size
         {error_logger_mf_maxfiles, 5}           % 5 files max
        ]},
 {pine, [
         {port, 6090},
         {dispatch_source, [{'_', [{"/", cowboy_static, {priv_file, pine,
                                     "static/index.html"}},
                                   {"/api", pine_api, []}]}]},
         {pool_size, 100},
         {secure_flag, false},
         {cacertfile, "static/ssl/cowboy-ca.crt"},
         {certfile, "static/ssl/server.crt"},
         {keyfile, "static/ssl/server.key"},
         {role, <<"root">>},
         {user, <<"root">>},
         {password, <<"pa55wdr00t">>},
         {session_timeout, 15},
         {log_dest, [file,shell]},
         {log_path, "log/apps"},
         {log_prefix, "pine_"},
         {log_size, 100},
         {log_duration, 60},
         {log_rotation, 5},
         {log_archive_path, "log/archive"},
         {log_compress, false},
         {mnesia_schema, ram}
        ]}
].

